/* apply a natural box layout model to all elements, but allowing components
 to change */
html {
  box-sizing: border-box;
  background: #90CAF9;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

/*==============================================================================
 * Nav Bar
 *============================================================================*/

nav {
  width: 100%;
  height: 50px;
  border-bottom: solid #F44336;
  background: #0D47A1;
}

.nav-links {
  padding: 0;
  margin: 0 auto;
}

.nav-links li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #BBDEFB
}

a:hover {
  color: #F44336;
}

a:visited {
  /*nothing*/
}

.cat-menu {
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 0 3px;
}

.cat-menu svg {
  width: 32px;
  fill: #E0E0E0;
}

#cat-nav {
  padding-right: 10px;
}

#cat-nav li {
  color: #FFFFFF;
  padding: 5px 10px;
  margin: 10px 0;
  border-bottom: solid 1px white;
}

#cat-nav li.active {
  color: #F44336;
}

/*==============================================================================
 * Main
 *============================================================================*/

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

main aside {
  z-index: 10;
  background-color: #1565C0;
  width: 200px;
  max-height: 100%;
  overflow: scroll;
  position: absolute;
  /* This transform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}

main aside.open {
  /* This transform moves the drawer off canvas. */
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

main article {
  width: 100%;
  background-color: #2196F3;
}

.box-element {
  width: 100%;
  text-align: center;
  border: solid #2196F3 1px;
}


.heading {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.hero {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

img {
  width: 100%;
  height: auto;
}

/*==============================================================================
 * Footer
 *============================================================================*/

footer {
  width: 100%;
  height: 50px;
  border-top: solid #F44336;
  background: #0D47A1;
}

.footer-main {
  margin: 10px auto;
  color: #FFFFFF;
}

.footer-main .copyright {
  line-height: 1.8;
  margin-left: 10px;
}

/*==============================================================================
 * Media Queries
 *============================================================================*/

@media screen and (min-width: 800px) {
  .nav-links {
    width: 800px;
  }

  .nav-links li {
    text-align: left;
  }

  #menu {
    display: none;
  }

  main aside {
    position: relative;
    /* This transform moves the drawer off canvas. */
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  main article {
    width :600px;
  }
  main {
    width: 800px;
  }

  .footer-main {
    width: 800px;
  }
}
